Signal Name: FinalSignal
Signal Type: LinearSignal
intercept: 0
ETHMid: 0.5
BTCMid: 0.5

Signal Name: FinalFinalSignal
Signal Type: LinearSignal
FinalSignal: 0.2
ETHMid: 0.5

Signal Name: ETHMid
Signal Type: Mid
coin: ETH-USD
exchange: DYDX

Signal Name: BTCMid
Signal Type: Mid
coin: BTC-USD
exchange: BNB